* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Add your styles below */

#page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

#page4 {
  height: 100%;
  width: 100%;
  background: rgb(125, 125, 175);
  overflow-x: hidden;
}
#page5 {
  height: 100%;
  width: 100%;
  background: rgb(58, 58, 70);
}

#page4 h1 {
  font-size: 40vw;
  font-weight: 600;
}
